<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js After School Clubs</title>
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button @click="showCheckout">
                {{ cartItemCount }}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if="showClubs">
                <figure>
                    <img v-bind:src="club.image" alt="Club Image" style="height: 30vh;">
                </figure>
                <h2 v-text="club.subject"></h2>
                <p v-html="club.description"></p>
                <p>Location: {{club.location}}</p>
                <p>Age Group: {{ club.ageGroup }}</p>
                <p>Fee: {{ club.fee }} USD</p>
                <button v-on:click="addToCart" v-if="canAddToCart"> Add to Cart </button>
                <button disabled="disabled" v-else> Add to Cart </button>
                <p> Cart has {{ cartItemCount }} clubs</p>
            </div>

            <div v-else>
                <h2>Checkout</h2>
                <p>Number of Clubs Enrolled = {{ cartItemCount }} </p>
                <p>
                    <strong> First Name: </strong>
                    <input v-model="order.firstName">
                </p>

                <p>
                    <strong> Last Name: </strong>
                    <input v-model = "order.lastName">
                </p>

                <p>
                    <strong> Address: </strong>
                    <input v-model = "order.address">
                </p>

                <p>
                    <strong> City: </strong>
                    <input v-model = "order.city">
                </p>

                <p>
                    <strong> State: </strong>
                    <select v-model = "order.state">
                        <option disable value = ""> State </option>
                        <option>AL</option>
                        <option>AR</option>
                        <option>CA</option>
                        <option>NV</option>
                </p>
                
                <p>
                    <strong> Zip Postal Code: </strong>
                    <input v-model = "order.zip">
                </p>

                <h2>Order Information</h2>
                <p> First Name: {{ order.firstName }} </p>
                <p> Last Name: {{ order.lastName }} </p>
                <p> Address: {{ order.address}} </p>
                <p> City: {{ order.city }} </p>
                <p> State: {{ order.state}} </p>
                <p> Zip Code: {{ order.zip }} </p>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        let webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Club Registration',
                club: {
                    id: 2001,
                    subject: 'Art & Craft',
                    description: `Join our exciting Art & Craft club where students will explore their creativity by working on a variety of projects using different materials. Learn the fundamentals of colors, textures, and design while having fun!<br><br>
                        Activities include:<br>
                        1. Painting and drawing using different techniques.<br>
                        2. Crafting with recycled materials.<br>
                        3. Exploring 3D art forms like clay modeling and sculpture.<br>
                        4. Collaborative group projects to build teamwork and communication skills.`,
                    location: 'Community Center, Dubai, UAE',
                    ageGroup: '6-12 years',
                    fee: 50,
                    image: 'images/art_craft.jpg',
                    availableInventory: 20
                },
                showClubs: true,
                cart: [],
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    state: '',
                    zip: ''
                }
            },
            methods: {
                addToCart: function () {
                    this.cart.push(this.club.id);
                },
                showCheckout: function() {
                    this.showClubs = !this.showClubs;
                }
            },
            computed: {
                cartItemCount: function () {
                    return this.cart.length;
                },
                canAddToCart: function () {
                    return this.club.availableInventory > this.cartItemCount;
                }
            }
        });
    </script>

</body>

</html>